@using NicolaParo.LightShow.Services;
<h3>ApplicationView</h3>

@inject IDmxAdapter dmxAdapter;


<input type="color" @bind="HtmlColor" @bind:after="OnColorPicked" @bind:event="oninput" />

@code {

    private string HtmlColor { get; set; }

    private void OnColorPicked()
    {
        var bytes = Convert.FromHexString(HtmlColor[1..]);

        static float sqr(float x) => x * x;

        if (bytes is [var red, var green, var blue])
        {
            red = (byte)(255 * sqr(red / 255f));
            green = (byte)(128 * sqr(green / 255f));
            blue = (byte)(64 * sqr(blue / 255f));

            dmxAdapter.SetChannels(0, new[] { red, green, blue });
        }

    }

}
